---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="site-heading">
                    <div align="center">
                        <img width="150" height="150" margin-bottom = 20px src="https://raw.githubusercontent.com/Andln/andln.github.io/master/img/andln.jpg"> 
                    </div>
                    <h1>{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<link rel="stylesheet" href="/css/backtop.css">  <!-- Back Top -->
<script type="text/javascript" src="/js/backtop.js"></script>  <!-- Back Top -->

<div id="back-top">
  <a href="#top" title="回到顶部"></a>
</div>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
